<div class="modal" tabindex="-1" aria-hidden="true" ng-init="quantity=1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="panel-title">
                    Авторизація
                </h3>
            </div>
            <div class="modal-body">
                <label>Оберіть користувача</label>
                <select class="form-control" ng-model="employee" ng-options="user.login_password as user.name for user in vm.users"
                        ng-change="login=employee;password=employee;"></select>
                <label>Введіть ім'я користувача</label>
                <input type="text" class="form-control" ng-model="login">
                <label>Введіть пароль</label>
                <input type="text" class="form-control" ng-model="password">
                <label>
                    Запамятати мене <input type="checkbox" ng-model="remember">
                </label>
            </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="vm.login(login, password, remember); hideLoginForm();">Увійти</button>
                </div>
            </div>
        </div>
</div>
