<div class="modal" tabindex="-1" aria-hidden="true" ng-init="quantity=1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="panel-title">
                    Все про доставку
                </h3>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img class="img-rounded" style="width: 400px; height: 264px;"
                         ng-src="img/delivery.jpg">
                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="hideDeliveryWindow()">Дякую</button>
                </div>
            </div>
        </div>
</div>
